.hidden {
  display: none;
}
.container {
  width: 80%;
  margin: 0 auto;
}

/*.remove {
  float: right;
}*/

.dx-button {
  margin-top: 5px;
}

.dx-button-mode-contained.dx-state-focused {
  background-color: #fff !important;
}

.dimension-fieldset, .time-dimension-fieldset, .measure-fieldset, .pre-filter-fieldset {
  border: 1px dashed gray;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.filter-fieldset, .orderby-fieldset {
  display: inline-flex;
  margin-bottom: 10px;
}

.widget-container {
  margin-right: 320px;
  padding: 20px;
  max-width: 550px;
  min-width: 300px;
}

#form {
  margin-top: 25px;
}

.options {
  padding: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 260px;
  top: 0;
  background-color: rgba(191, 191, 191, 0.15);
}

.caption {
  font-size: 18px;
  font-weight: 500;
}

.option {
  margin-top: 10px;
}

p {
  word-break: break-all;
}
